{% extends 'base.html' %}
{% block body %}
<!-- Masthead
================================================== -->
<header class="jumbotron" id="overview">
  <div class="row">
    <div class="span6">
      <h1>Polls+</h1>
      <p class="lead">Vote free. Vote Now.</p>
    </div>
    <!--div class="span6">
<!--       <div class="bsa well">
          <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19"></div>
      </div> -->
      <!--div class="well" style="padding: 25px 25px 15px 25px;">
        <a href="" target="_blank">
          <span style="float: left; margin: 0 15px 10px 0;">
            <img src="/static/img/less-logo-large.png" width="175" height="135">
          </span>
        </a>
        <a href="#" target="_blank">
          <span style="display: block; font-weight: bold; margin-bottom: 1em;">Poll name!</span>
          <span style="display: block;">Top trending Poll. Join now to see what's going on</span>
        </a>
        <div style="clear:both"></div>
      </div>
    </div-->
  </div>
 <hr/>
</header>
<div class="row">
	<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li><a ng-href="/#createPoll"><i class="icon-check"></i> Create Poll <i class="icon-chevron-right"></i></a></li>
          <li><a href="/#pollsVoted"><i class="icon-volume-down"></i> Polls you Voted<i class="icon-chevron-right"></i></a></li>
          <li><a href="/#createdPolls"><i class="icon-trophy"></i>Your Polls<i class="icon-chevron-right"></i></a></li>
          <li><a href="/"><i class="icon-list"></i> Public polls <i class="icon-chevron-right"></i></a></li>
      </div>
<div class="span8 pull-left" ng-view></div>
</div>

{% endblock body %}

{% block script %}
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock script %}

{% block footer%}
<hr/>
<div class="footer well well-large">
	(c) Copyright 2013 Tropic Dreams Studio. All Rights Reserved. 
</div>
{% endblock footer%}
