{% extends 'base.html' %}
{% block body %}
<!-- Masthead
================================================== -->
<header class="jumbotron" id="overview">
</header>
<div class="row" >
	<!--Render these only if the user is Logged in -->
	
	<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li><a ng-href="/#createPoll"><i class="icon-check"></i> Create Poll <i class="icon-chevron-right"></i></a></li>
          <li><a href="/#pollsVoted"><i class="icon-volume-down"></i> Polls you Voted<i class="icon-chevron-right"></i></a></li>
          <li><a href="/#createdPolls"><i class="icon-trophy"></i>Your Polls<i class="icon-chevron-right"></i></a></li>
          <li><a href="/"><i class="icon-list"></i> Public polls <i class="icon-chevron-right"></i></a></li>
      </div>
<div class="span8 pull-left" ng-view></div>
</div>

{% endblock body %}

{% block script %}
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/alertify.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/controllers/CreatePollCtrl.js"></script>
<script src="/static/js/controllers/PollDetailViewCtrl.js"></script>
<script src="/static/js/controllers/PollsListCtrl.js"></script>
<script src="/static/js/controllers/PollStatisticCtrl.js"></script>
<script src="/static/js/controllers/PollsVotedCtrl.js"></script>
<script src="/static/js/controllers/UserCreatedPollsCtrl.js"></script>
<script src="/static/js/controllers/NavCtrl.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock script %}

{% block footer%}
<hr/>
<div class="footer well well-large">
	(c) Copyright 2013 Tropic Dreams Studio. All Rights Reserved. <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</div>
{% endblock footer%}
