<html ng-app="PollPlus">
	<head>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/static/css/bootswatch.css" />
	</head>
	<body>
		<div class="container-fluid">
			<nav class="span8 offset3">
				<div class="pull-right" style="margin-top:10px" >
				<a class="btn btn-block btn-danger" href="#">Login with Google</a>
				</div>
			</nav>
			
			<div class="row" style="margin-top:160px">
				
				<div class="span12 offset1">
					
					<div class="span6">
						<h1 class="brand">Polls+</h1>
					<img src="/static/img/6.jpg" />
					</div>
					<div class="card span4">
						<div class="card-heading">
							<h3>Popular polls</h3>
						</div>
						<div ng-include src="'/static/tmpl/landingPage.html'">
							
						</div>
						
					</div>
				</div>
			</div>
			<hr />
			<footer class="pull-right">
			(c) Tropic Dreams Studio 2013
			<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
		</footer>
		</div>
		
		<script src="/static/js/angular.min.js"></script>
<script src="/static/js/alertify.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/controllers/CreatePollCtrl.js"></script>
<script src="/static/js/controllers/PollDetailViewCtrl.js"></script>
<script src="/static/js/controllers/PollsListCtrl.js"></script>
<script src="/static/js/controllers/PollStatisticCtrl.js"></script>
<script src="/static/js/controllers/PollsVotedCtrl.js"></script>
<script src="/static/js/controllers/UserCreatedPollsCtrl.js"></script>
<script src="/static/js/controllers/NavCtrl.js"></script>
	</body>
</html>