<html ng-app="PollPlus">
	<head>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/static/css/bootswatch.css" />
	</head>
	<body>
		<div class="container">
			<nav class="pull-right">
				<a href="#">Login with Google</a>
			</nav>
			<div class="row" style="margin-top:160px">
				<div class="span12 offset1">
					<div class="span6">
					<img src="/static/img/6.jpg" />
					</div>
					<div class="card span4">
						<div class="card-heading">
							<h1>Poll+</h1>
						</div>
						<div ng-include src="'/static/tmpl/landingPage.html'">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<script src="/static/js/angular.min.js"></script>
<script src="/static/js/alertify.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/controllers/CreatePollCtrl.js"></script>
<script src="/static/js/controllers/PollDetailViewCtrl.js"></script>
<script src="/static/js/controllers/PollsListCtrl.js"></script>
<script src="/static/js/controllers/PollStatisticCtrl.js"></script>
<script src="/static/js/controllers/PollsVotedCtrl.js"></script>
<script src="/static/js/controllers/UserCreatedPollsCtrl.js"></script>
<script src="/static/js/controllers/NavCtrl.js"></script>

		</footer>
	</body>
</html>